body {
	text-align: center;
	font-family: 'Courgette', cursive;
	font-size: 4rem;
	position: relative;
	background: url("../img/fond.jpg"); 
    background-color: #5187aa; 
    height: 200rem; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
	background-attachment: scroll;
	padding: 0rem;
	margin: 0rem;
	box-sizing: border-box;
    
}

html {
	font-size: 62.5%;
}

h1 {
	display: inline-block;
	text-align: center;
	letter-spacing: 2rem;
    color:  #000000;
	font-weight: lighter;
	font-size: 15rem ;
	margin-top: 7,5rem;   
	margin-bottom: 0%; 
}

h1:hover {
	color: #ff0000;
}

::selection {
	background: #e8ff1c;
	color: red; 
}

#copyright {
	color: #ffffff;
	position: absolute;
	bottom: 0rem;
	right: 0rem;
}

#entree {
	font-size: 5rem;
	margin-top: 32,5rem;
	margin-bottom: 1rem;
}

#plat {
	font-size: 5rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
}

#dessert {
	font-size: 5rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
}

.contenu {
	font-size: 4rem;
}